<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false">
        <ion-icon name="settings-outline" ios="ios-settings-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]='search_key' (ionChange)="loadItems(search_key)" (ionClear)="loadItems('all')"
      placeholder="Search dishes" showCancelButton="focus" debounce="500" type="text" animated>
    </ion-searchbar>
    <!-- <ion-title> -->
    <!-- Dishes -->
    <!-- </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dishes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let items of Object.keys(list); let index;">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>{{items}}</ion-label>
      </ion-item-divider>
      <ion-item *ngFor="let item of list[index]">
        <ion-thumbnail slot="start" [routerLink]="['./details']" [queryParams]="{id: item.id}">
          <img *ngIf="item.disp_img == 'default.jpg'; else disp_img" src="assets/images/default.png">
          <ng-template #disp_img>
            <img src="assets/images/{{item.id}}/{{item.disp_img}}">
          </ng-template>
        </ion-thumbnail>
        <ion-label>
          <p>{{item.name}}<br>{{item.unit_price|currency:'INR'}}</p>
        </ion-label>
        <div class="btn-container">
          <ion-button class="btn-offer" color="primary" fill="outline" size="small">{{item.o_desc?item.o_desc:''}}
          </ion-button>
          <ion-label class="lbl-offer" color="primary">{{item.o_desc?item.o_desc:''}}
          </ion-label>
          <ion-button *ngIf="item.is_active" class="btn-order" color="dark" fill="outline" size="small"
            href="whatsapp://send?phone={{item.w_app_order_contact}}&text=I want to place an order for {{item.name}}">
            ORDER </ion-button>
          <ion-button *ngIf="!item.is_active" class="btn-order" color="dark" fill="outline" size="small">
            OUT OF STOCK </ion-button>
        </div>
      </ion-item>

    </ion-item-group>


  </ion-list>

</ion-content>
