<ion-content>
  <div class="logo-container">
    <img class="logo" src="../../assets/icon/android-chrome-512x512.png">
  </div>
  <div class="wrapper">
    <ion-text>
      <h3>വിരുന്ന്‌</h3>
    </ion-text>
    <ion-text>
      <h6>രുചികരമായ ഭക്ഷണം നിങ്ങളുടെ അരികിൽ</h6>
    </ion-text>
    <ion-text color="medium" style="font-size: small;">
      <p>A food delivery initiative by<br>The Paravur Vadakkekara Service Co-operative Bank Ltd. No.3131</p>
    </ion-text>
  </div>
  <div class="btn-back-wrapper">
    <ion-button class="btn-back" color="primary" [routerLink]="['/']" routerLinkActive="router-link-active" >OK</ion-button>
  </div>
</ion-content>
